@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply rounded-portfolio-px-20 text-portfolio-xsm;
  }

  .btn-common {
    @apply btn w-portfolio-px-124 h-portfolio-px-40;
  }

  body {
    @apply font-portfolio-poppins;
  }

  button.white {
    @apply btn-common  text-black border dark:text-white  border-black  dark:border-white;
  }

  nav {
    @apply h-portfolio-h-nav flex justify-between items-center px-5 xxsm:px-8 md:px-28 lg:px-44 xl:px-96 mt-4 inset-x-0 top-0 z-50 mx-auto;
  }
}

body {
  cursor: none;
}

.app-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
