@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply rounded-portfolio-px-20 text-portfolio-xsm;
  }

  .btn-common {
    @apply btn w-portfolio-px-120 h-portfolio-px-40;
  }

  body {
    @apply font-portfolio-poppins;
  }

  button.white {
    @apply btn-common border-2 h-[37px] w-[106px];
  }

  button.chips {
    @apply btn w-portfolio-px-120 h-portfolio-px-40 border-2 text-sm;
  }

  button.black {
    @apply border-2 rounded-full text-sm px-5 py-4 text-center;
  }

  nav {
    @apply flex justify-between items-center px-5 sm:px-2 md:px-20 lg:px-4 xl:px-28 2xl:px-52 mt-2 md:mt-8 inset-x-0 top-0 z-50 mx-auto;
  }
}

body {
  cursor: none;
}

.app-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 0px;
  border: 1px solid #ff5833;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.base-page-size {
  width: 100%;
  min-height: 100vh;
}
